/* CSS Document */
@font-face {
    font-family: 'SFProText-Light';
    src: url('../fonts/SFProText-Light.woff') format('woff'),
        url('../fonts/SFProText-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-family: "SFProText-Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 0.6em;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
}

/* Navigatie */
.container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

header {
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.4rem;
    background-color: rgba(0, 0, 0, .8);
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 1.4rem;
    color: #F5F5F7;
    padding: 0 1rem;
    transition: opacity .5s;
}

.nav-link:hover {
    opacity: .7;
}

.nav-link-apple {
    width: 1.6rem;
    height: 4.4rem;
    color: #F5F5F7;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1500;
}

.nav-link-search {
    width: 1.6rem;
    height: 4.4rem;
    color: #F5F5F7;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1500;
}

.nav-link-bag {
    width: 1.4rem;
    height: 4.4rem;
    color: #F5F5F7;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1500;
}

/* Navigatie eindigt hier*/


/* Blok 1: Macbook Air */
.MacbookAir {
    display: flex;
    justify-content: center;
}

.MacbookAir h2 {
    position: absolute;
    color: #F5F5F7;
    text-align: center;
    top: 7em;
}

.MacbookAir p {
    position: absolute;
    color: #F5F5F7;
    text-align: center;
    top: 13.2em;
}

/*Meer informatie en koop linkjes */
.MacbookAir ul {
    position: absolute;
    display: flex;
    align-items: center;
    top: 15.5em;
}

.MacbookAir li:nth-of-type(2) {
    margin-left: 0.5em;
}

.MacbookAir a {
    text-decoration: none;
    color: #2997FF;
}

.MacbookAir img {
    width: 100%;
}

/* Blok 1: Macbook Air eindigt hier */

/*Blok 2: Macbook Pro */
.MacbookPro {
    position: relative;
    width: 100%;
    top: 0.2em;
    display: flex;
    justify-content: center;
}

.MacbookProtitel {
    position: absolute;
    color: #F5F5F7;
    top: 3em;
}

.MacbookPro h3 {
    position: absolute;
    color: #F5F5F7;
    top: 2.5em;
    font-size: 2em;
}

.MacbookProtekst {
    position: absolute;
    color: #F5F5F7;
    top: 8.5em;
}

/*Meer informatie en koop linkjes */
.MacbookPro ul {
    position: absolute;
    display: flex;
    align-items: center;
    top: 11.5em;
}

.MacbookPro li:nth-of-type(2) {
    margin-left: 0.5em;
}

.MacbookPro a {
    text-decoration: none;
    color: #2997FF;
}

.MacbookPro img {
    width: 100%;
}

/* Blok 3: kerstactie */
.holiday {
    position: relative;
    display: flex;
    justify-content: center;
}

.holidaylogo {
    position: absolute;
    width: 5em;
    top: 4em;
}

.holiday h3 {
    position: absolute;
    font-size: 2.3em;
    top: 5em;
}

.holiday a {
    position: absolute;
    top: 9.5em;
    font-size: 1.6em;
    text-decoration: none;
    color: #2997FF;
}

.kerstproduct {
    position: relative;
    width: 30em;
    top: 20em;
}

/* Blok 4 */
.iphone12 {
    position: relative;
    display: flex;
    justify-content: center;
    top: 23em;
}

.iphone12 h3 {
    position: absolute;
    top: 2.5em;
    color: #F5F5F7;
    z-index: 1;
    font-size: 2.3em;
}

.iphone12 p {
    position: absolute;
    top: 8em;
    font-size: 1.2em;
    color: #F5F5F7;
    z-index: 1;
}

/*Meer informatie en koop linkjes */
.iphone12 ul {
    position: absolute;
    display: flex;
    align-items: center;
    top: 13em;
    z-index: 1;
}

.iphone12 li:nth-of-type(2) {
    margin-left: 0.5em;
}

.iphone12 a {
    text-decoration: none;
    color: #2997FF;
}
.iphone12 img {
    position: relative;
    width: 100vw;
}

/* Blok 5 */
.watch {
    position: relative;
    top: 23.8em;
    display: flex;
    justify-content: center;
    background-color: #fbfbfd;
    height: 38em;
}

.watchlogo {
    position: absolute;
    width: 10em;
    top: 2em;
}

.watch p {
    position: absolute;
    top: 7em;
}

/*Meer informatie en koop linkjes */
.watch ul {
    position: absolute;
    display: flex;
    align-items: center;
    top: 9.5em;
    z-index: 1;
}

.watch li:nth-of-type(2) {
    margin-left: 0.5em;
}

.watch a {
    color: #2997FF;
    text-decoration: none;
}

/* Afbeelding watches in een cirkel */
.cirkelwatch {
    position: absolute;
    top: 12em;
    width: 25em;
}

/* Blok 6 */
.appleone {
   position: relative;
    display: flex;
    justify-content: center;
    top: 24.8em;
    background-color: #fbfbfd;
    height: 38em;
}

/* Apple One Logo*/
.onelogo {
    position: absolute;
    width: 10em;
    top: 2em;
}

.appleone p {
    position: absolute;
    top: 7em;
}

.appleone p:nth-of-type(2) {
    top: 8.2em;
}

.appleone ul {
    position: absolute;
    top: 11em;
    z-index: 1;
}

.appleone a {
    text-decoration: none;
    color: #2997FF;
}

/* Afbeelding Apple diensten */
.applediensten {
    position: absolute;
    top: 16em;
    width: 50em;
}

/* Blok 7 */
.appletv {
   position: relative;
    display: flex;
    justify-content: center;
    top: 34em;
    height: 60em;
}

/* Thumbnails Apple TV */
.appletvshows {
    position: absolute;
    width: 100vw;
    z-index: -1;
}

/* Logo Apple TV */
.logoappletv {
    position: absolute;
    z-index: 1;
    width: 10em;
    top: 27em;
}

.appletv p {
    position: absolute;
    top: 33em;
    color: #F5F5F7;
}

/*Meer informatie en probeer gratis uit linkjes */
appletv ul {
    position: relative;
    z-index: 2;
    top: 40em;
}

.appletv a {
    text-decoration: none;
    color: #2997FF;
}
/* Media */

@media screen and (max-width: 767px) {
    header {
        height: 4.8rem;
    }

    header .container {
        padding: 0;
    }

    .nav-list {
        margin-top: 0;
    }

    .nav-list-mobile {
        display: flex;
    }

    .nav-item {
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
    }

    .nav-item-hidden {
        display: none;
    }

    .mobile-menu {
        position: relative;
        z-index: 1500;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .line {
        position: absolute;
        width: 1.7rem;
        height: 0.06em;
        top: 2em;
        left: 2em;
        background-color: #fff;
        margin-top: 0.6em;
    }

    .line-top {
        margin-top: 0.2rem;
    }

    .line-bottom {
        margin-top: -4.rem;
    }

    .active .line-top {
        margin-top: 0;
        transform: rotate (45deg);
        transition: transform .3192s .1s;
    }

    .active .line-bottom {
        margin-top: 0;
        transform: rotate (-45deg);
        transition: transform .3192s .1s;
    }

    header.active {
        height: 100%;
        background-color: #000;
    }

    .nav-link-apple {
        width: 1.8rem;
        height: 4.8rem;
        position: relative;
        z-index: 1500;
    }

    .nav-link-bag {
        width: 1.6rem;
        height: 4.8rem;
        transition: opacity 3s;
    }

    .nav {
        position: relative;
    }

    .nav-link {
        font-size: 1.7rem;
        padding: 0;
        margin-top: 0.7em;
    }

    .nav-list-larger {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        display: block;
        padding: 10.5rem 5rem;
        z-index: 1000;
        box-sizing: border-box;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s;
    }

    .active .nav-list-larger {
        width: 100%;
        height: 100vh;
        opacity: 1;
        visibility: visible;
    }

    .active .nav-link-bag {
        opacity: 0;
        transition: opacity .3s;
    }

    .nav-list-larger .nav-item {
        width: 100%;
        justify-content: flex-start;
        border-bottom: 2px solid rgba(255, 255, 255, .1);
        background-color: #000;
    }

    .nav-list-larger .nav-item:nth-child(9) {
        border-bottom: none;
    }

    .nav-list-larger .nav-item:nth-child(10) {
        border-bottom: none;
    }
}
