/* CSS Document */
@font-face {
    font-family: 'SFProText-Light';
    src: url('../fonts/SFProText-Light.woff') format('woff'),
        url('../fonts/SFProText-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-family: "SFProText-Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

header {
    padding: 0 3em;
    background-color: #333333;

    display: flex;
    justify-content: space-between;
    width: 100vw;

    position: fixed;

    align-items: center;
}

/* alle links in de header */
header a {
    order: 1;
    color: #f5f5f7;
    text-decoration: none;
}

/* Apple logo */
header > a:first-of-type {
    padding: 0.03em;
    height: 3em;
    z-index: 1;
}

header > a:first-of-type img {
    height: 3em;
    z-index: 1;
}

/******************/
/* favorites link */
/******************/

header > a:last-of-type img {
    display: block;
    height: 3em;
}

/* Navigatie menu */

nav ul {
    margin: 0;
    padding: 3em 0 0;
    background: #000000;
    list-style: none;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    transform: translateY(-100%);
    transition: .5s;
}

nav li {
    margin: 0;
    padding: 0;
}

nav li a {
    display: block;
    padding: 1em 1em 1em 3.5em;
    border-top: solid 0.1em #f5f5f7;
}

nav li a img {
    display: block;
    height: 1.5em;
}

/* Button hamburgermenu */
button {
    position: relative;
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    appearance: none;
    border: none;
    background-color: #333333;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* de streepjes van het hamburgermenu */
button span {
    position: absolute;
    width: 1em;
    height: 0.02em;
    background-color: #f5f5f7;
    transition: .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

button span:first-of-type {
    transform: translatey(-5px);
}

button span:last-of-type {
    transform: translatey(5px);
}

/* D.m.v JS wordt de class 'toonMenu' aan de body toegevoegd */
.toonMenu button {
    background-color: #000000;
}

.toonMenu button span {
    background-color: #ffffff;
    transition: .5s ease-out;
}

/*het eerste streepje*/
.toonMenu button span:first-of-type {
    transform: translatex(0) rotate(-45deg);
}

/*het tweede streepje*/
.toonMenu button span:last-of-type {
    transform: translatex(0) rotate(45deg);
}

nav.toonMenu ul {
    transform: translateY(0%);
    transition: .5s;
}

/* Eerste blok */
.MacbookAir {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    text-align: center;
    color: #F5F5F7;
    background-color: black;
}

.MacbookAir h2 {
    margin-top: 3em;
    font-size: 2em;
}

.MacbookAir p {
    margin-top: 1em;
}

.MacbookAir img {
    margin: auto;
    width: 100vw;
}

/* CTA is van toepassing op de links in de blokjes naast elkaar */
.CTA {
    display: flex;
    justify-content: center;
    list-style: none;
}

.CTA li:nth-of-type(2) {
    margin-left: 2em;
}

.CTA a {
    text-decoration: none;
    cursor: pointer;
    color: #0066CC;
}

/* Tweede blok */
.MacbookPro {
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
    text-align: center;
    color: #F5F5F7;
    background-color: black;
    margin-top: 0.3em;
    grid-gap: 1em;
}

.MacbookTitel {
    margin-top: 2.5em;
}

.MacbookPro h3 {
    font-size: 2em;
}

.MacbookPro img {
    margin: auto;
    width: 100vw;
    overflow: hidden;
    margin-top: 0.6em;
}

/* Holiday Sectie */
.HolidaySection {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 0.6em;
    grid-gap: 1em;
    height: 16em;
    text-align: center;
}

.LogoKerst {
    margin-top: 0.3em;
    width: 3em;
    margin: auto;
}

.HolidaySection h3 {
    font-size: 2em;
}

.HolidaySection a {
    text-decoration: none;
    cursor: pointer;
    color: #0066CC;
}

.HolidayImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    overflow: hidden;
    height: 20em;
}

.HolidayImg img {
    width: 17em;
    margin: auto;
}

@media (min-width:56em) {
    nav {
        order: 1;
    }

    nav button {
        display: none;
    }

    nav ul {
        position: static;
        transform: translateY(0%);
        display: flex;
        background-color: transparent;
        padding: 0;

        transition: none;
    }

    nav li a {
        border: none;
    }

    /* Animatie rotatie Holiday section */
    @keyframes holiday-animation {
        0% {
            transform-origin: center center;
            transform: rotate(0);
        }

        100% {
            transform-origin: center center;
            transform: rotate(1turn);
        }
    }

    .rotatie {
        animation-name: holiday-animation;
        animation-duration: 60s;
        animation-iteration-count: infinite;
        animation-play-state: running;
    }
}

@media (max-width: 56em) {

    .HolImg1 {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .rotatieWeg {
        display: none;
    }
}
